@import "../../styles/colors.scss";

#navbar {
    border-bottom: 1px solid $gray1;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $gray2;
    font-weight: 500;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 1%;
        height: 2px;
        background-color: $gray2;
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);    
        border-radius: 2px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover {
        &::after {
            opacity: 1;
            width: 40%;
        }
    }
}

.active {
    color: $accent;

    &::after {
        background-color: $accent;
    }
}