@import "./colors.scss";
@import "./bp.scss";

.header-1 {
    
    font-size: 2.5rem;

    @include bp-min($bp-tablet) {
        font-size: 4rem;
    }
}

$container-width-desktop: 50%;
$container-width-tablet: 70%;
$container-width-mobile: 95%;

.main-container {
    width: $container-width-mobile;
    margin: auto;

    @include bp-min($bp-tablet) {
        width: $container-width-tablet;
    }

    @include bp-min($bp-desktop) {
        width: $container-width-desktop;
    }
}



//Desktop VGap Size = 10px

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
    
    @include bp-min($bp-tablet) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.portfolio-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @include bp-min($bp-tablet) {
        width: calc(33.333% - 15px);
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
}

.portfolio-item {
    background-color: $gray3;
    min-height: 200px;
}

.portfolio-item--v2 {
    min-height: 200px;

    @include bp-min($bp-tablet) {
        min-height: 100%;
    }
}

.v-gap {

    @include bp-min($bp-tablet) {
        margin-bottom: 25px;
    }
}