@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import "./tachyons.scss";
@import "./components.scss";
@import "./colors.scss";

* {
    font-family: 'Roboto', sans-serif;

    &::selection {
        background: lighten($accent,40);
    }
}

.fw-900 {
    font-weight: 900;
}

.fw-500 {
    font-weight: 500;
}

.fw-300 {
    font-weight: 300;
}

.lh-0 {
    line-height: 0;

    img {
        line-height: 0;
        margin: 0;
        padding: 0;
    }
}

.cp {
    cursor: pointer;
}

.cc {
    cursor: crosshair;
}

.overflow-h {
    overflow: hidden;
}

.tj {
    text-align: justify;
}