//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// ROBOTO
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
}


// LORA
@font-face {
    font-family: "Lora";
    font-weight: 400;
    src: url("/fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lora";
    font-weight: 600;
    src: url("/fonts/Lora-Bold.ttf") format("truetype");
}

@import "./tachyons.scss";
@import "./components.scss";
@import "./colors.scss";
@import "./blog-components.scss";

* {
    font-family: 'Roboto', sans-serif;

    &::selection {
        background: lighten($accent,40);
    }
}

.serif {
    font-family: 'Lora';
}

.fw-900 {
    font-weight: 900;
}

.fw-500 {
    font-weight: 500;
}

.fw-300 {
    font-weight: 300;
}

.lh-0 {
    line-height: 0;

    img {
        line-height: 0;
        margin: 0;
        padding: 0;
    }
}

.cp {
    cursor: pointer;
}

.cc {
    cursor: crosshair;
}

.overflow-h {
    overflow: hidden;
}

.tj {
    text-align: justify;
}