.btn {
    transition: all 0.5s !important;
    display: inline-flex;
    &:hover {
        transform: translateX(-8px);
    }
}

.arrow {
    transition-duration: 0.5s !important;
    display: block;
    width: 30px;
    max-width: 17px;
    max-height: 17px;
    padding-right: 15px;
}